/* Keyboard Shortcut EM */
.keyboard-shortcuts-em {
    position: fixed;
    top: 0;
    left: 5px;
    padding: 2px;
    color: black;
    opacity: 0.3;
    border-radius: 50%;
    background-color: #f3f3f3;
}
.keyboard-shortcuts-em.below-nav {
    top: 52px;
    left: 2px;
    background-color: white;
}
.keyboard-shortcuts-em.on-plugins {
    top: 2px;
    left: 285px;
}
.keyboard-shortcuts-em.active {
    opacity: 0.7;
    display: block;
    color: #aa6666;
}

.keyboard-shortcuts-em .fa-stack {
    font-size: 0.7rem;
}
.keyboard-shortcuts-em i.inactive-indicator {
    display: block;
    color: red;
    opacity: 0.4;
}
.keyboard-shortcuts-em.active i.inactive-indicator {
    display: none;
}
.keyboard-shortcuts-em a, 
.keyboard-shortcuts-em a:visited {
    text-decoration: none;
    color: inherit;
}


.keyboard-shortcuts-em.blinking {
    animation: keyboard-shortcuts-em-flash 2s infinite;
}
@keyframes keyboard-shortcuts-em-flash {
    0%   { color: darkred; opacity: 0;   }
    50%  { color: darkred; opacity: 0.8; }
    100% { color: darkred; opacity: 0; }
}

/* Help */
.keyboard-shortcuts-em-key {
    padding-right: 2em;
    white-space: nowrap;
}
